.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
  color: #141314;
  align-content: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  /* padding: 5px 5px; */
  padding: 1em;
  font-size: 15px;
  /* color: #b9b9b9; */
  background: url(../img/backgroundPayment.jpg);
  /* background-repeat: repeat; */
}

.card-form__field {
  color: #3c4044;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card-form__field label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-form__field input {
  position: relative;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #898686;
  border-radius: 4px;
  width: 100%;
}

.card-form__field--inline {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10rem;
  flex-direction: row;
}

.card-form__field--inline input {
  width: 50%;
}

.card-form_field--inline--cvv {
  padding-bottom: 20px;
}

.card-form__submit-btn {
  background-color: #0077b6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}

.card-form__submit-btn:hover {
  background-color: #071f3e;
}
